@page "/shop"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<OnLineShopContext> DbFactory

<!--shop  area start-->
<div class="shop_section shop_reverse">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12">
                <!--shop wrapper start-->
                <!--breadcrumbs area start-->
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">home</a></li>
                        <li><a href="/shop">shop</a></li>
                    </ul>
                </div>
                <!--breadcrumbs area end-->
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper d-flex justify-content-between align-items-center">
                    <div class="page_amount">
                        <p><span>@Products?.Count</span> Products Found</p>
                    </div>

                    <div class="toolbar_btn_wrapper d-flex align-items-center">
                        <div class="view_btn">
                            <a class="view" href="#">VIEW</a>
                        </div>
                        <div class="shop_toolbar_btn">
                            <ul class="d-flex align-items-center">
                                <li>
                                    <a href="#" class="active btn-grid-3" data-role="grid_3" data-tippy="3"
                                        data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                        data-tippy-placement="top"><i class="ion-grid"></i></a>
                                </li>

                                <li>
                                    <a href="#" class="btn-list" data-role="grid_list" data-tippy="List"
                                        data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                        data-tippy-placement="top"><i class="ion-navicon"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--shop toolbar end-->
                <div class="row shop_wrapper">
                    @foreach (var product in Products ?? [])
                    {
                        var price = product.Price ?? 0;
                        var discount = product.Discount ?? 0;
                        var currentPrice = price;
                        if (discount > 0)
                        {
                            currentPrice = price - (price * discount / 100);
                        }

                        <div class="col-lg-4 col-md-4 col-sm-6 col-6 ">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a href="product-details.html">
                                        <img class="primary_img" src="images/Products/@product.ImageName" alt="consectetur">
                                    </a>
                                    <div class="product_action">
                                        <ul>
                                            <li class="wishlist">
                                                <a href="#" data-tippy="Wishlist" data-tippy-inertia="true"
                                                    data-tippy-delay="50" data-tippy-arrow="true"
                                                    data-tippy-placement="left"><i class="icon-heart icons"></i></a>
                                            </li>

                                            <li class="quick_view">
                                                <a data-toggle="modal" data-target="#modal_box" data-tippy="Quick View"
                                                    href="#" data-tippy-inertia="true" data-tippy-delay="50"
                                                    data-tippy-arrow="true" data-tippy-placement="left">
                                                    <i class="icon-size-fullscreen icons"></i>
                                                </a>
                                            </li>
                                            <li class="compare">
                                                <a data-tippy="Compare" href="#" data-tippy-inertia="true"
                                                    data-tippy-delay="50" data-tippy-arrow="true"
                                                    data-tippy-placement="left"><i class="icon-refresh icons"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product_label">
                                        @* <span>-18%</span> *@
                                        @if (product.Discount > 0)
                                        {
                                            <span>-@product.Discount?.ToString("F0")%</span>
                                        }
                                    </div>
                                </div>
                                <div class="product_content grid_content text-center">
                                    <div class="product_ratting">
                                        <ul class="d-flex justify-content-center">
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><a href="#"><i class="ion-android-star"></i></a></li>
                                            <li><span>(2)</span></li>
                                        </ul>
                                    </div>
                                    <h4 class="product_name">
                                        <a href="product-details.html">@product.Title</a>
                                    </h4>
                                    <div class="price_box">
                                        <span class="current_price">@currentPrice.ToString("C2")</span>
                                        @if (discount > 0)
                                        {
                                            <span class="old_price">@product.Price?.ToString("C2")</span>
                                        }
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                            data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                            data-tippy-placement="top">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="product_list_content">
                                    <h4 class="product_name">
                                        <a href="product-details.html">@product.Title</a>
                                    </h4>
                                    <p><a href="#">shows</a></p>
                                    <div class="price_box">
                                        <span class="current_price">@currentPrice.ToString("C2")</span>
                                        @if (discount > 0)
                                        {
                                            <span class="old_price">@product.Price?.ToString("C2")</span>
                                        }
                                    </div>
                                    <div class="product_desc">
                                        <p>
                                            Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis
                                            vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis
                                            in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend
                                            laoreet congue. Viva..
                                        </p>
                                    </div>
                                    <div class="add_to_cart">
                                        <a class="btn btn-primary" href="#" data-tippy="Add To Cart"
                                            data-tippy-inertia="true" data-tippy-delay="50" data-tippy-arrow="true"
                                            data-tippy-placement="top">Add To Cart</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>


                <!--shop toolbar end-->
                <!--shop wrapper end-->
            </div>
        </div>
    </div>
</div>
<!--shop  area end-->
@code {
    private List<Product> Products = new();

    [SupplyParameterFromQuery]
    public string? q { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        var query = context.Products.AsQueryable();

        var searchTerm = q?.Trim();
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            query = query.Where(x =>
                (x.Title != null && EF.Functions.Like(x.Title, $"%{searchTerm}%")) ||
                (x.Description != null && EF.Functions.Like(x.Description, $"%{searchTerm}%")) ||
                (x.Tags != null && EF.Functions.Like(x.Tags, $"%{searchTerm}%")));
        }

        Products = await query.OrderByDescending(x => x.Id).ToListAsync();
    }
}
